<h1>Preguntame!</h1>
<p>Hazle una pregunta al Coach!</p>
<form action="/answer" method="get" class="pregunta">
  <input type="text" name="pregunta" value="<%= params[:pregunta] %>" placeholder="Preguntale al coach">
  <input type="submit">
</form>