<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <form action="/contact" method="get">
      <input type="text" name="member" placeholder="Who are you looking for?">
      <input type="submit">
    </form>
    <%= yield %>
  </body>
</html>
